/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700");

/* Fontawesome */
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

/* Utilities */

/* Import Navbar.css */

@import url("./components/navBar.css");
@import url("./components/hero.css");
@import url("./components/main.css");
@import url("./components/control.css");
@import url("./components/footer.css");

body {
  margin: 0;
  font-family: Open Sans;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: Poppins;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

.line {
  width: 100px;
  height: 10px;
  background-color: #f05d23;
  border-radius: 2px 5px 2px 5px;
  margin: 2rem 0 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Custom design below! */
